---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "normalize",
  "skeleton",
  "syntax-highlighting"
;

.highlight table { margin: 0; width: 100%; }
.highlight .gl { border-right: 1px dashed #8AC02D; }

a {
  color:#8AC02D;
}
a:hover {
  color:#8AC02D;
}
nav {
    display: block;
    width: 100%;
    background: #fff;
    z-index: 99;
    /* border-bottom: 1px solid #eee; */
   }
nav>ul {
  list-style: none;
  margin:0; }
nav>ul>li {
    float: none;
    position: static;
    margin-bottom: 0; }
nav>ul>li>a, nav>ul>li>label {
    display: block;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.3rem;
    width: 100%;
    color: #222; }
nav>ul>li.home>a {
  color:#8AC02D;
}
.column img {
  box-sizing: border-box;
  max-width: 100%;
}
ul.archive>h3:first-child {
  margin-top:0rem;
}
ul.archive h3 {
  margin-top:2.5rem;
  margin-bottom:0;
}
ul.archive>li {
  list-style: none;
}
ul.archive>li>span {
  padding-right:1rem;
}

img.u-pull-left {
  margin-right:2rem;
}

nav>ul>li.home a {
  float:left;
  width:40%;
}
nav>ul>li.home label {
  float:right;
  display: visible;
  margin-right:0;
  text-align: right;
  width: 45%;
}
nav {
  height:6.25rem;
  overflow:hidden;
}
#hamburger {
  display:none;
}
#hamburger:checked+nav {
  height:auto;
  overflow:visible;
}

/* Larger than mobile */
@media (min-width: 400px) {
  }

/* Larger than phablet */
@media (min-width: 550px) {
  }

/* Larger than tablet */
@media (min-width: 750px) {
  .row {
    margin-bottom: 3.75rem;
  }
  nav {
    height: 6.25rem;
  }
  nav>ul>li {
    position: relative;
    float: left;
  }
  nav>ul>li>a {
    display: inline;
  }
  nav>ul>li.home label {
    display:none;
  }
  nav>ul>li:last-child>a {
    margin-right:0;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  }

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  }

.number {
  text-align: right;
}
.archive .date {
  display:inline-block;
  width:6.5rem;
}
.date {
  color:#999;
}
img {
  max-width:100%;
}
