body{width:960px;margin:auto}
.post{display:block;float:left;width:300px}
.post:nth-child(odd){margin-left:20px}
article{width:620px;margin-left:10px;float:left}
aside{width:300px;margin-left:20px;float:left}
header,footer{margin:20px 10px}
nav{margin-top:20px;max-width:620px}
nav ul, footer ul{font-size:1.25em;clear:both;padding:0;margin:0;height:1.625em}
nav li, footer li{float:left;list-style:none;margin:0;margin-right:20px;padding:0}
nav a, footer a{color:#423F37}
h1,h2,h3,h4{margin:0;padding:0}
h1{font-size:1.625em}
h2,h3,h4{color:#4F7310;font-size:1.25em;margin-bottom:10px}
a{color:#8AC02D;text-decoration:none}
a:hover{color:#4F7310;text-decoration:underline}
body{color:#57534A;line-height:1.625em;font-family:Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;}
pre,address{background:#eee;font-style:normal;margin-bottom:20px;border-radius:4px;padding:10px}
pre {overflow:auto;line-height:1em}
.sitename{font-size:2.625em}
ul.archive{list-style:none;margin:0;padding:0}
.me,.devops{float:right;margin-left:20px;margin-right:0}
.devops a,.me a{color:#8AC02D}
img{height:auto;max-width:100%}
ul{margin-top:0}
.photo{clear:left;float:left;margin:0 20px 0 0}
address p{margin:0;margin-left:110px}

@media screen and (max-width:960px) {
body{width:auto;margin:0}
aside{width:220px}
article{width:auto;max-width:620px}
.post:nth-child(odd){margin-left:0}
.post{width:auto}
}
@media screen and (max-width:620px) {
body{width:auto;padding:0 10px}
article,aside,header,footer{margin:0;width:100%}
pre{overflow:hidden}
}
