body{font-size:87.5%;font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;}
address{font-style:normal;}
a{color:#669;text-decoration:none;}
a:hover{text-decoration:underline;}
h1{font-size:36px/100%;font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;margin-bottom:0.3em;}
h1 .sub{clear:both;font-size:87.5%;width:100%;}
body{padding:5px;width:960px;margin:auto;}
header{height:70px;}
nav ul, footer ul{clear:both;margin:0;padding:0;}
nav li, footer li{float:left;list-style:none;margin:0;padding:0;}
nav a, footer a{display:block;padding:10px 15px;}
article,footer{width:600px;float:left;}
aside{width:300px;float:right;}
footer{padding-top:1em;clear:both;}
footer .role{clear:both;display:block;float:none;margin-bottom:0.6em;}
.photo{float:left;margin:0.3em 1.6em 1em 0;}
.post{display:block;float:left;height:12.5em;padding-right:4%;width:46%;}
@media screen and (max-width:980px) {
body{width:94%;}
article,footer{width:65%;}
aside{width:30%;}
}
@media screen and (max-width:700px) {
article,footer{width:auto;float:none;}
aside{width:auto;float:none;}
}
@media screen and (max-width:480px) {
header{height:auto;}
h1{font-size:24px;}
aside{display:none;}
nav ul li{clear:right;float:none;}
nav ul:after{clear:both;content:".";display:block;height:0;visibility:hidden;}
.post{width:100%;padding:0;}
}
img{height:auto;max-width:100%;}
header,article,aside{margin-bottom:5px;}
