---
title:      DevOps Articles
created_at: 2011-03-22 08:16:58.063825 +00:00
layout:     default
permalink:  /archive/index.html
nocomment:  true
---
{% assign year = '1900' -%}
<ul class="archive">
  {% for post in site.posts %}
  {% capture current_year %}{{ post.created_at | date: "%Y" }}{% endcapture %}
  {% if current_year != year %}
  <h3>{{ current_year }}</h3>
  {% assign year = current_year %}
  {% endif %}
  <li><span>{{post.created_at | date: "%b, %d"}}</span>  <a href="{{post.url}}#content">{{post.title}}</a>
  {% endfor %}
</ul>
