---
title:      Nathan Fisher - DevOps
created_at: 2011-05-28 12:00:00 +00:00
layout:     default
nocomment:  true
---
{% for post in paginator.posts %}
  {{post.content}}
  <p><a href="{{post.url}}">{{post.title}}</a></p>
  <hr/>
{% endfor %}

<div class="pagination">
  {% if paginator.next_page %}
    <a href="/page{{paginator.next_page}}">&laquo; Older</a>
  {% endif %}
  <span> {{paginator.page}} of {{paginator.total_pages}}</span>
  {% if paginator.previous_page %}
  {% assign page_url = join: "/page", paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
    {% assign page_url = '/' %}
    {% endif %}
    <a href="{{page_url}}">Newer &raquo;</a>
  {% endif %}
</div>
