---
title:      Nathan Fisher - DevOps
created_at: 2011-05-28 12:00:00 +00:00
layout:     default
---
{% for post in paginator.posts %}
  {{post.content}}
  <p><a href="{{post.url}}">{{post.title}}</a></p>
  <hr/>
{% endfor %}

<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
    <a href="/">Previous</a>
    {% else %}
    <a href="/page{{paginator.previous_page}}">Previous</a>
    {% endif %}
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{paginator.page}} of {{paginator.total_pages}}</span>
  {% if paginator.next_page %}
    <a href="/page{{paginator.next_page}}" class="next ">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
