<h3>Blogroll</h3>
<ul>
  <li><a href="http://dtrace.org/blogs/brendan/">Brendan Gregg</a></li>
  <li><a href="http://www.jennifersmith.co.uk/">Jennifer Smith</a></li>
  <li><a href="http://jezhumble.net/">Jez Humble</a></li>
  <li><a href="http://lizdouglass.wordpress.com/">Liz Douglass</a></li>
  <li><a href="http://martinfowler.com/">Martin Fowler</a></li>
  <li><a href="http://mechanical-sympathy.blogspot.co.uk/">Martin Thompson</a></li>
  <li><a href="http://www.markhneedham.com/">Mark Needham</a></li>
  <li><a href="http://matthewkantor.com/">Matthew Kantor</a></li>
  <li><a href="http://www.devopsy.com/">Max Lincoln</a></li>
  <li><a href="http://www.natpryce.com/">Nat Pryce</a></li>
  <li><a href="http://www.jedi.be/">Patrick DeBois</a></li>
  <li><a href="http://www.philandstuff.com">Philip Potter</a></li>
  <li><a href="http://www.samnewman.org/">Sam Newman</a></li>
  <li><a href="http://mechanitis.blogspot.co.uk/">Trisha Gee</a></li>
</ul>
