<section>
<img src="http://www.myopenid.com/image?id=142724" alt="Nathan Fisher" width="170" height="95"/>
<h2>JunctionBox.ca</h2> 
<h3>Nathan Fisher - DevOp</h3>
 
<p class="quiet">DevOps is a common sense approach to software release cycles. It's an accumulation of best practices and the agreement that software has no business value until it's in the hands of its intended user. The name is derived from the curious union of development and operations and is most commonly described as a "bridge of communication" between developers and operations. Criticise if you will, but when people have their head in code they sometimes don't take into account the bigger picture. Ultimately that's what it's all about. Common tools of the trade include: virtualization, configuration management, CI, and automation of as much as reasonable. If you're interested in knowing more take a look at Jez Humbles book <a href="http://continuousdelivery.com/">Continuous Delivery</a>.</p>
</section>


{% if site.recent_posts %}
<section>
  <h3>Recent Posts</h3>
  <ul id="recent_posts">
    {% for post in site.posts limit: site.recent_posts %}
      <li class="post">
        <a href="{{ post.url }}">{{ post.title }}</a>
        <time>{{ post.date | date: "%B %d, %Y" }}</time>
      </li>
    {% endfor %}
  </ul>
	<p><a href="/archive/?s=sidebar">More Articles</a></p>
</section>
{% endif %}

<section>
<h3>Blog Roll</h3>
<ul>
      <li><a href="http://dailyinteractive.ca/">DailyInteractive.ca</a></li>
      <li><a href="http://migz.ca/">Migz.ca</a></li>
      <li><a href="http://etlgfx.com/">ETL gfx</a></li>
      <li><a href="http://littlekitchen.ca/">Little Kitchen</a></li>
      <li><a href="http://matthewkantor.com/">Matthew Kantor</a></li>
      <li><a href="http://continuousdelivery.com/">Continous Delivery - Jez Humble</a></li>
      <li><a href="http://www.samnewman.org/">Sam Newman</a></li>
      </ul>
</section>

{% if site.twitter_user %}
  <section>{% include twitter.html %}</section>
{% endif %}
{% if site.delicious_user %}
  <section>{% include delicious.html %}</section>
{% endif %}
{% if site.pinboard_user %}
  <section>{% include pinboard.html %}</section>
{% endif %}
