<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{ page.title }} - JunctionBox.ca</title>
  {% if page.canonical -%}
  <link rel="canonical" href="{{ page.canonical }}"/>
  {% endif -%}
  <meta name="description" content="{{ page.description }}" />
  <meta name="keywords" content="{{ page.keywords }}" />
  <meta name="og:image" content="http://junctionbox.ca/images/LHS_logo.png?v=2"/>
  <meta property="og:title" content="JunctionBox.ca" />

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css?t={{site.time | date_to_xmlschema}}">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/favicon.ico">
  <link rel="alternate" type="application/rss+xml" title="Nathan's DevOps Blog" href="http://junctionbox.ca/rss.xml">

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-713228-10', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <input type="checkbox" id="hamburger">
    <nav class="row">
      <ul class="twelve column">
        <li class="home"><a href="/">junctionbox.ca</a><label for="hamburger" class="clear:none; display: inline;">menu</label></li>
        <li class="archive"><a href="/archive/">Archive</a></li>
        <li class="resources"><a href="/resources/">Resources</a></li>
        <li class="devops"><a href="/devops.html">DevOps</a></li>
        <li class="me"><a href="/nathan-fisher.html">Nathan Fisher</a></li>
      </ul>
    </nav>
    <div class="row" id="content">
      <div class="two-thirds column">
        {% unless page.disable_title %}
        <h1>{{ page.title }}</h1>
        {% endunless %}

        {% unless page.nocomment %}
        <p class="date">{{page.date | date: "%b %-d, %Y"}}</p>
        {% endunless %}

        {{ content }}
  {% unless page.nocomment %}
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'junctionboxca';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
  {% endunless %}
      </div>
      <div class="one-third column">
        {% include recent.html %}
        {% include profile.html %}
        {% include blogroll.html %}
      </div>
    </div>
  </div>
  <script type="text/javascript">
(function() {
 var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
 po.src = 'https://apis.google.com/js/plusone.js';
 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
 })();
  </script>
  <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
