<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{ page.title }} - JunctionBox.ca</title>
  {% if page.canonical -%}
  <link rel="canonical" href="{{ page.canonical }}"/>
  {% endif -%}
  <meta name="description" content="{{ page.description }}" />
  <meta name="keywords" content="{{ page.keywords }}" />
  <meta property="og:title" content="JunctionBox.ca" />

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css?t={{site.time | date_to_xmlschema}}">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/favicon.ico">
  <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="https://junctionbox.ca/rss.xml">
  <link rel="alternate" type="application/atom+xml" title="Atom Feed" href="https://junctionbox.ca/feed.xml" />
</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <input type="checkbox" id="hamburger">
    <nav class="row">
      <ul class="twelve column">
        <li class="home"><a href="/">junctionbox.ca</a><label for="hamburger" class="clear:none; display: inline;">menu</label></li>
        <li class="archive"><a href="/archive/">Archive</a></li>
        <li class="resources"><a href="/resources/">Resources</a></li>
        <li class="me"><a href="/nathan-fisher.html">Nathan Fisher</a></li>
      </ul>
    </nav>
    <div class="row" id="content">
      <div class="twelve columns">
{% unless page.disable_title %}
<h1>{{ page.title }}</h1>
{% endunless %}

{% unless page.nocomment %}
<p class="date">{{page.date | date: "%b %-d, %Y"}}</p>
{% endunless %}

{{ content }}
{% unless page.nocomment %}
<p>
  Tags: [
  {% for tag in page.tags %}
  {% capture tag_name %}{{ tag }}{% endcapture %}
  <a href="/tag/{{ tag_name }}">{{ tag_name }}</a>
  {% endfor %} ]
</p>

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'junctionboxca';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
  {% endunless %}
      </div>
    </div>
  </div>
  <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
