<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{ page.title }} - JunctionBox.ca</title>
  {% if page.canonical -%}
  <link rel="canonical" href="{{ page.canonical }}"/>
  {% endif -%}
  <meta name="description" content="{{ page.description }}" />
  <meta name="keywords" content="{{ page.keywords }}" />
  <meta property="og:title" content="JunctionBox.ca" />

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="preload" href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap" as="style">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap" media="print" onload="this.media='all'">
  <noscript>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" />
  </noscript>
  <link rel="stylesheet" href="/css/main.css?t={{site.time | date_to_xmlschema}}">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/favicon.ico">
  <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="https://junctionbox.ca/rss.xml">
  <link rel="alternate" type="application/atom+xml" title="Atom Feed" href="https://junctionbox.ca/feed.xml" />
</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <input type="checkbox" id="hamburger">
    <nav class="row">
      <ul class="twelve column">
        <li class="home"><a href="/">junctionbox.ca</a><label for="hamburger" class="clear:none; display: inline;">menu</label></li>
        <li class="archive"><a href="/archive/">Archive</a></li>
        <li class="resources"><a href="/resources/">Resources</a></li>
        <li class="me"><a href="/nathan-fisher.html">Nathan Fisher</a></li>
      </ul>
    </nav>
    <div class="row" id="content">
      <div class="twelve columns">
{% unless page.disable_title %}
<h1>{{ page.title }}</h1>
{% endunless %}

{% unless page.nocomment %}
<p class="date">{{page.date | date: "%b %-d, %Y"}}</p>
{% endunless %}

{{ content }}
{% unless page.nocomment %}
<p>
  tags: [
  {% for tag in page.tags %}
  {% capture tag_name %}{{ tag }}{% endcapture %}
  <a href="/tag/{{ tag_name }}.html">{{ tag_name }}</a>
  {% endfor %}
  ]
</p>

<!-- Remarkbox - Your readers want to communicate with you -->
<div id="remarkbox-div">
  <noscript>
    <iframe id=remarkbox-iframe src="https://my.remarkbox.com/embed?nojs=true" style="height:600px;width:100%;border:none!important" tabindex=0></iframe>
  </noscript>
</div>
<script src="https://my.remarkbox.com/static/js/iframe-resizer/iframeResizer.min.js"></script>
<script>
  var rb_owner_key = "2234b78d-d8be-11ea-965a-040140774501";
  var thread_uri = window.location.href;
  var thread_title = window.document.title;
  var thread_fragment = window.location.hash;

  // rb owner was here.
  var rb_src = "https://my.remarkbox.com/embed" + 
      "?rb_owner_key=" + rb_owner_key +
      "&thread_title=" + encodeURI(thread_title) +
      "&thread_uri=" + encodeURIComponent(thread_uri) + 
      thread_fragment;

  function create_remarkbox_iframe() {
    var ifrm = document.createElement("iframe");
    ifrm.setAttribute("id", "remarkbox-iframe");
    ifrm.setAttribute("scrolling", "no");
    ifrm.setAttribute("src", rb_src);
    ifrm.setAttribute("frameborder", "0");
    ifrm.setAttribute("tabindex", "0");
    ifrm.setAttribute("title", "Remarkbox");
    ifrm.style.width = "100%";
    document.getElementById("remarkbox-div").appendChild(ifrm);
  }
  create_remarkbox_iframe();
  iFrameResize(
    {
      checkOrigin: ["https://my.remarkbox.com"],
      inPageLinks: true,
      initCallback: function(e) {e.iFrameResizer.moveToAnchor(thread_fragment)}
    },
    document.getElementById("remarkbox-iframe")
  );
</script>
  {% endunless %}
      </div>
    </div>
  </div>
  <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script data-goatcounter="https://jbx.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
<noscript><img src="https://jbx.goatcounter.com/count?p=/test-img"></noscript>
</body>
</html>
