---
layout: default
title: 404 Not Found
date: May 14 2011
permalink: 404.html
---
/ use the :markdown filter if you want to write pages with Markdown
:textile
	h1. 404, Not Found

	We apologise, but it would appear the page you're looking for has gone missing.

	Perhaps one of the following will help:

	* "Home":/index.html?s=404
	* "Blog Archive":/archive/?s=404
