---
layout: page
title: Archive
date: May 29 2011
---

-options = Jekyll.configuration({})
:ruby
	site = Jekyll::Site.new(options)
	site.read_posts('')
	prev_year = nil

-site.posts.sort {|x,y| y.date <=> x.date }.each do |post|
	-if prev_year != post.date.year
		%h3= post.date.year
	%li
		%a{:href => post.url}=post.data['title']
		&mdash;
		%span.date=post.date.strftime("%Y %b %d")

	-if prev_year != post.date.year
		-prev_year = post.date.year
